.header img{
    float: left;
    margin: 0.5em;
    background: linear-gradient(25deg, rgb(187, 166, 150) 5%, saddlebrown 95%);     
    height: 10%;
    width: 10%;
    border-radius: 3%;

}

.header h1{
    text-align: right;
    font-family: 'Lato', sans-serif;
    font-size: 5em;
    margin: .5em;
    font-weight: 900;
    color: cornflowerblue;
}    

.header p{
    text-align: right;
    font-weight: bolder;
    margin: 1em;
    font-size: 2em;
    font-family: 'Lato', sans-serif;
    color: saddlebrown;
}
.header{
    border-bottom: #7d97ad;
    border-bottom-style: solid;
    padding: 2em;
    
}

.main-img {
    width: 100%;
    margin: 2% 0% 0% 0%;
    
    
    
}

.photo-credit{
    text-align: right;
    font-size: small;
}